<h2 mat-dialog-tile> {{ title }} </h2>
<mat-divider></mat-divider>

<mat-dialog-content [formGroup] = "form">

  <mat-grid-list cols="2">

    <mat-grid-tile>
      <div>
        <mat-form-field>
          <mat-label>Full name</mat-label>
          <input matInput
                 placeholder="Ex. code logic"
                 formControlName="patient_name"
                 required>
          <mat-error *ngIf="form.get('patient_name')?.invalid || form.get('patient_name')?.dirty || form.get('patient_name')?.touched">Enter full name</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Max 10 number" appearance="fill">
          <mat-label>Mobile number : </mat-label>
          <input matInput
                 placeholder="9865452152"
                 formControlName="mobile"
                 required matInput #input maxlength="10" placeholder="0987654321">
          <mat-error
            *ngIf="form.get('mobile')?.invalid || form.get('mobile')?.dirty || form.get('mobile')?.touched"></mat-error>
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Prescription</mat-label>
          <input matInput
                 placeholder="ex. medicines"
                 formControlName="prescription"
                 required>
          <mat-error *ngIf="form.get('prescription')?.invalid || form.get('prescription')?.dirty || form.get('prescription')?.touched">Enter valid prescription </mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
        <mat-label class="me-3">Gender : </mat-label>
        <br>
        <mat-radio-group aria-label="Select a gender" color="primary" formControlName="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
          <mat-radio-button value="other">Other</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="mt-4">
          <mat-label>Doctor</mat-label>
          <mat-select formControlName="doctor_id" name="doctor_id">
            <mat-option *ngFor="let doctor of allDoctors" [value]="doctor.doctor_id">
              {{doctor.doctor_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Admission Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="admission_date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('admission_date')?.invalid || form.get('admission_date')?.dirty || form.get('admission_date')?.touched">Choose valid admission date</mat-error>
        </mat-form-field>

      </div>
    </mat-grid-tile>

  </mat-grid-list>

</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close (click)="cancelRegistration()">Cancel</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="registerPatient()" [disabled]="form.invalid"> {{buttonName}} </button>
</div>
