<h2 style="font-weight: 700;" class="mt-3" color="primary">Patient Information</h2>
<mat-card class="m-3">

  <mat-card-title class="pb-2">
    Patient Name : <b>{{patientObj?.patient_name}}</b>
  </mat-card-title>
  <mat-divider></mat-divider>

  <div class="row pt-3">
    <div class="col-md-6">
      <mat-card-content>
        <span> Doctor Name : </span> {{patientObj.doctor_name}} <br>
        <span> Mobile : </span> {{patientObj.mobile}} <br>
        <span> Prescription : </span> {{patientObj.prescription}}
      </mat-card-content>
    </div>
    <div class="col-md-6">
      <mat-card-content>
        <span> Gender : </span> {{patientObj.gender}} <br>
        <span> Adminssion Date : </span> {{patientObj.admission_date | date}}
      </mat-card-content>
    </div>
  </div>
</mat-card>
