<h2 mat-dialog-title>{{title}}</h2>

<mat-divider>
</mat-divider>

<mat-dialog-content [formGroup]="form">

  <mat-grid-list cols="2">

    <mat-grid-tile>
      <!--      fullname-->
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your Fullname</mat-label>
          <input formControlName="name" matInput placeholder="fullname" required>
          <mat-error
            *ngIf="form.get('name')?.invalid || form.get('name')?.dirty || form.get('name')?.touched"></mat-error>
        </mat-form-field>

    <!--      mobile-->
        <mat-form-field hintLabel="Max 10 number" appearance="fill">
          <mat-label>Enter Phone</mat-label>
          <input formControlName="mobile" required matInput #input maxlength="10" placeholder="0987654321">
          <mat-error
            *ngIf="form.get('mobile')?.invalid || form.get('mobile')?.dirty || form.get('mobile')?.touched"></mat-error>
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>

    <!--      email-->
        <mat-form-field appearance="fill">
          <mat-label>Enter your Email</mat-label>
          <input formControlName="email" matInput placeholder="abc@gmail.com" required>
          <mat-error *ngIf="form.get('email')?.invalid
          || form.get('email')?.dirty
          || form.get('email')?.touched"
          ></mat-error>
        </mat-form-field>

    <!--      Qualification-->
        <mat-form-field appearance="fill">
          <mat-label>Enter Qualification</mat-label>
          <input formControlName="qualification" matInput placeholder="ex. MBBS" required>
          <mat-error *ngIf="form.get('qualification')?.invalid
          || form.get('qualification')?.dirty
          || form.get('qualification')?.touched"
          ></mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
        <mat-label class="me-3">Gender : </mat-label>
        <br>
        <mat-radio-group aria-label="Select a gender" color="primary" formControlName="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
          <mat-radio-button value="other">Other</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="mt-4">
          <mat-label>Department</mat-label>
          <mat-select formControlName="department" name="department">
            <mat-option *ngFor="let department of departments" [value]="department">
              {{department}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Birthdate</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthdate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('birthdate')?.invalid || form.get('birthdate')?.dirty || form.get('birthdate')?.touched">Choose valid birthdate</mat-error>
        </mat-form-field>

      </div>
    </mat-grid-tile>

  </mat-grid-list>


  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close (click)="cancelRegistration()">Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close (click)="registerDoctor()" > {{buttonName}} </button>
  </div>

</mat-dialog-content>

