.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  padding: 5px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-icon {
  margin-right: 15px;
}
.mat-list-item {
  color: #3f515b;
}

.active {
  background-color: #3f515b !important;
  color: white !important;
  border-radius: 5px;
}
